@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* El resto de tu CSS global... */
:root {
  --background: #ffffff;
  --foreground: #f5e8e9;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #9c1f25;
    --foreground: #f5e8e9;
  }
}
html,
body {
  color: var(--foreground);
  background: var(--background);
}

.content-text {
  color: var(--content-text);
}

